*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}


:focus:not(:focus-visible) {
  outline: none;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Кастомный скроллбар */
.content__list-container::-webkit-scrollbar {
  width: 4px;
}

.content__list-container::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.content__list-container::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


.content__list-container{
  scrollbar-width: thin; 
  scrollbar-color: #D9D9D9 rgba(217, 217, 217, 0.1); 
}

/*.content__list::-moz-scrollbar-thumb {
  background-color: #D9D9D9;
}*/

/*
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  */

  input {
    all: unset;
  }